@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */

  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  /* color: rgba(255, 255, 255, 0.87); */
  /* @apply bg-gradient-to-t from-arena-green-800 to-arena-green-400; */
  @apply bg-bg-300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 .5rem;
  text-align: center;
}
#root{
  width: 100%;
}

::-webkit-scrollbar{
  display: none;
}
a {
  font-weight: 500;
  text-decoration: inherit;
}

::-webkit-scrollbar{
  visibility: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-width: 100%;
  min-height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  cursor: pointer;
}
button:focus,
button:focus-visible, button:hover {
  @apply bg-accent-100;
}

